In [ ]:
# Python - Unit 1 - Python - Variable - Data Type - Operators

print("Hi Welcome to Credo Systemz - Python Session")

Hi Welcome to Credo Systemz - Python Session

In [ ]:
# Variable - Store the Value, Assign the Value

Name="Sridhar Raj P"
print("I am",Name)

I am Sridhar Raj P

In [ ]:
Age=27
print(Age)

27

In [ ]:
Salary=50000.00
print(Salary)

50000.0

In [ ]:
Name=input("Enter the User Name ")
print("Welcome", Name)

Enter the User Name Sridhar
Welcome  Sridhar

In [ ]:
Age=int(input("Enter the Age "))
print("Age -",Age)

Enter the Age 27
Age - 27

In [ ]:
myAge=27
print(myAge)

27

In [ ]:
my_age=28
print(my_age)

28

In [ ]:
MyAge=30
print(MyAge)

30

In [ ]:
#InValid Variable

# 2age=25
# print(2Age)

# my age=27
# print(my age)

# my+age=27
# print(my+age)

# return=27
# print(return)

# age2=27
# print(age2)

SyntaxError: invalid syntax (ipython-input-19-2437650949.py, line 12)

In [ ]:
# Data Type

# Text - str
# Numeric - int, float, complex
# Sequence - list, tuple, range
# Mapping - dict
# Set - set, frozenset
# Boolean - bool
# Binary - byets, bytesarray, memoryview
# None - NoneType

In [ ]:
Name="Sridhar Raj P - Python Trainer"
print(Name)
print(type(Name))

Sridhar Raj P - Python Trainer
<class 'str'>

In [ ]:
Name=input("Enter the Name ")
print(Name)
print(type(Name))

Enter the Name Sridhar
Sridhar
<class 'str'>

In [ ]:
Age=27
print(Age)
print(type(Age))

27
<class 'int'>

In [ ]:
Balance=60000.71
print(Balance)
print(type(Balance))

60000.71
<class 'float'>

In [ ]:
answer=1+2j
print(answer)
print(type(answer))

(1+2j)
<class 'complex'>

In [ ]:
answer=1+2j+3+4j
print(answer)

(4+6j)

In [ ]:
answer=["Core Python", "OOPS Python", "Collections", "GUI", "Database"]
print(answer)
print(type(answer))

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database']
<class 'list'>

In [ ]:
answer=("AI", "NLP", "DS", "DA", "DV")
print(answer)
print(type(answer))

('AI', 'NLP', 'DS', 'DA', 'DV')
<class 'tuple'>

In [ ]:
answer=range(10)
print(answer)
print(type(answer))

range(0, 10)
<class 'range'>

In [ ]:
answer={"HTML", "CSS", "JavaScript", "PHP", "Python"}
print(answer)
print(type(answer))

{'JavaScript', 'HTML', 'PHP', 'Python', 'CSS'}
<class 'set'>

In [ ]:
answer={"name":"Sridhar", "age":27, "skill":"Python"}
print(answer)
print(type(answer))

{'name': 'Sridhar', 'age': 27, 'skill': 'Python'}
<class 'dict'>

In [ ]:
answer=True
print(answer)
print(type(answer))

True
<class 'str'>

In [ ]:
# Specific Data Type - constructor functions

answer=str("Hi I am Sridhar")
print(answer)
print(type(answer))

Hi I am Sridhar
<class 'str'>

In [ ]:
answer=int(100)
print(answer)
print(type(answer))

100
<class 'int'>

In [ ]:
answer=float(100.54)
print(answer)
print(type(answer))

100.54
<class 'float'>

In [ ]:
answer=complex(1+1j+4)
print(answer)
print(type(answer))

(5+1j)
<class 'complex'>

In [ ]:
answer=list(("HTML", "CSS", "Python", "Java"))
print(answer)
print(type(answer))

['HTML', 'CSS', 'Python', 'Java']
<class 'list'>

In [ ]:
answer=tuple(("C", "C++","Java", "Python"))
print(answer)
print(type(answer))

('C', 'C++', 'Java', 'Python')
<class 'tuple'>

In [ ]:
answer=range(100)
print(answer)
print(type(answer))

range(0, 100)
<class 'range'>

In [ ]:
answer=dict(name="Sridhar", age=27, salary=40000)
print(answer)
print(type(answer))

{'name': 'Sridhar', 'age': 27, 'salary': 40000}
<class 'dict'>

In [ ]:
answer=set(("Python", "AI", "NLP", "IP - OpenCV"))
print(answer)
print(type(answer))

{'IP - OpenCV', 'Python', 'NLP', 'AI'}
<class 'set'>

In [ ]:
# Operator

# Arithmetic Operators - +,-,*,%,/,**,//

num1=10
num2=2

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1%num2)
print(num1/num2)
print(num1//num2)

12
8
20
0
5.0
5

In [ ]:
x=5
y=3

print(x**y)

125

In [ ]:
# Add 5 Number Sum, Avg

T=90
E=80
M=99
S=99
SS=99

total=T+E+M+S+SS
print(total)
avg=total/5
print(avg)

467
93.4

In [ ]:
Tamil=int(input("Enter the Tamil Mark "))
English=int(input("Enter the English Mark "))
Maths=int(input("Enter the Maths Mark "))
Science=int(input("Enter the Science Mark "))
Social=int(input("Enter the Social Mark "))

Total=Tamil+English+Maths+Science+Social
print(Total)

Avg=Total/5
print(Avg)

Enter the Tamil Mark 90
Enter the English Mark 90
Enter the Maths Mark 100
Enter the Science Mark 100
Enter the Social Mark 100
480
96.0

In [ ]:
Celsius=50
Fahrenheit=(Celsius*9/5)+32
print(Fahrenheit)

122.0

In [ ]:
# Swap 2 Number

# a=5, b=10 =>  a=10, b=5

a=5
b=10

print("Before Swapping....")
print("A -",a)
print("B -",b)

a=a+b   # 15=5+10 a=15
b=a-b   # 5=15-10  b=5
a=a-b   # 10=15-5  a=10

print("After Swapping...")
print("A -",a)
print("B -",b)

Before Swapping....
A - 5
B - 10
After Swapping...
A - 10
B - 5

In [ ]:
a=10
b=5


print("Before Swapping....")
print("A -",a)
print("B -",b)

c=a   #a=10, c=10
a=b   #b=10, a=10
b=c   #c=5,b=5

print("After Swapping....")
print("A -",a)
print("B -",b)

Before Swapping....
A - 10
B - 5
After Swapping....
A - 5
B - 10

In [ ]:
# Assignment Operator - +=,-=,*=,%=,/=,**=,//=

a=5
b=10

c=a+b
print(c)
print(a+b)

15
15

In [ ]:
a=10
b=2

# a+=b # a=a+b
b+=a   # b=b+a

print(a)
print(b)

10
12

In [ ]:
a=10
b=2

# a+=b
# a-=b
# a*=b
# a/=b
# a%=b
a//=b

print(a)

5

In [ ]:
a=5
b=5

a**=b
print(a)

3125

In [ ]:
# Comparison Operator - ==, !=, >, >=, <, <= - OP - True, Flase

a=5
b=5

print(a!=b)
print(a==b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
# Logical Operators - and, or, not

a=10
b=15

check=a<b and a<=b
print(check)

True

In [ ]:
a=5
print(a>3 and a<10)

True

In [ ]:
a=5
print(a>3 or a<4)

True

In [ ]:
a=10
b=15
check=a<b or a>=b
print(check)

True

In [ ]:
a=5
b=10
print(not(a==b))

True

In [ ]:
# Identity Operators - is, is not

# compare the objects

a=["Python", "AI"]
b=["Python", "AI"]
c=a

print(a is c)   # returns True because c is the same object as a

print(a is b)   # returns False because a is not the some object as b, even if they have the same content

print(a==b)
print(a==c)

True
False
True
True

In [ ]:
x=["Python", "AI"]
y=["Python", "AI"]
z=x

print(x is not z)  # returns False because z is the some obejct as x

print(x is not y)   # return True bacause x in not the some object as y, even if they have the same content

print(x!=y)

False
True
False

In [ ]:
# Membershipt Operators - in, not in

x=["Python", "AI"]
print("NLP" in x)
print("AI" in x)

False
True

In [ ]:
x=["Python", "Java"]
print("AI" not in x)
print("Java" not in x)

True
False

In [ ]:
# Celsius to Fahrenheit

c=float(input("Enter temp in Centigrade "))
f=(c*9/5)+32
print(f)

Enter temp in Centigrade 33.2
91.76

In [ ]:
c=float(input("Enter temp in Centigrade "))
f=(1.8*c)+32
print(f)

Enter temp in Centigrade 33.2
91.76

In [ ]:
# Fahrenheit to Celsius

f=float(input("Enter temp in Fahrenheit "))
c=((f-32)*5/9)
print(c)

Enter temp in Fahrenheit 98
36.666666666666664

In [ ]:
# Interest Calculate

p=int(input("Enter Principal Amount "))
r=float(input("Enter Rate "))
t=int(input("Enter Time "))

answer=(p*r*t)/100
print(answer)

Enter Principal Amount 400000
Enter Rate 5
Enter Time 1
20000.0

In [ ]:
# Area of Circle

radius=int(input("Enter Radius of the Circle "))
area=3.14*radius**2
print(area)

Enter Radius of the Circle 4
50.24

In [ ]:
# Area of Triangle, Salary Calculate, Area of Rectangle, Area of Square

In [ ]:
# Unit 2 - Control STM, Contidion STM

# 1.if
# 2.if...else
# 3.nested if...else
# 4.ladder if...else

mark=int(input("Enter the Mark "))
if(mark>=35):
  print("Pass")

if(mark<35):
  print("Fail")

Enter the Mark 10
Fail

In [ ]:
mark=int(input("Enter the Mark "))
if(mark>=35):
  print("Pass")
else:
  print("Fail")

Enter the Mark 80
Pass

In [ ]:
age=int(input("Enter the Age "))
if(age>=18):
  print("VE")
else:
  print("NVE")

Enter the Age 10
NVE

In [ ]:
number=int(input("Enter the Number "))

if(number%2==0):
  print(number, "- Even Number")
else:
  print(number, "- Odd Number")

Enter the Number 3
3 - Odd Number

In [ ]:
number=int(input("Enter the Number "))

if(number%2!=0):
  print(number, "- Odd Number")
else:
  print(number, "- Even Number")

Enter the Number 10
10 - Even Number

In [ ]:
year=int(input("Enter the Year "))

if(year%4==0):
  print(year,"- Leap Year")
else:
  print(year," - Not Leap Year")

Enter the Year 2028
2028 - Leap Year

In [ ]:
a=int(input("Enter the A Value "))
b=int(input("Enter the B Value "))
if(a>b):
  print("A is Biggest Value")
else:
  print("B is Biggest Value")

Enter the A Value 20
Enter the B Value 2
A is Biggest Value

In [ ]:
number=int(input("Enter the Number "))
if(number>0):
  print("+ve")
elif(number<0):
  print("-ve")
# elif(number==0):
#   print("Zero")

else:
  print("Zero")

Enter the Number 0
Zero

In [ ]:
a=int(input("Enter the A Value "))
b=int(input("Enter the B Value "))
c=int(input("Enter the C Value "))

if(a>b and a>c):
  print("A is Biggest Value")
elif(b>a and b>c):
  print("B is Biggest Value")
elif(c>a and c>b):
  print("C is Biggest Value")
else:
  print("A, B, C Some  Value")

Enter the A Value 10
Enter the B Value 10
Enter the C Value 10
A, B, C Some Value

In [ ]:
a=500
b=100
c=15

if(a>b):
  if(a>c):
    print("A is Biggest Value")
  else:
    print("C is Biggest Value")
else:
  if(b>c):
    print("B is Biggest Value")
  else:
    print("C is Biggest Value")

A is Biggest Value

In [ ]:
# Unit - 3 - Loop STM

# 1. for loop
# 2. while loop


# for varible in sequence:
#   statements

for i in range(1,5):    # 1>5 - 1,2,3,4
  print(i)

1
2
3
4

In [ ]:
for i in range(1,5):
  print("Welcome to Credo Systemz - Python Session")

Welcome to Credo Systemz - Python Session
Welcome to Credo Systemz - Python Session
Welcome to Credo Systemz - Python Session
Welcome to Credo Systemz - Python Session

In [ ]:
topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQLite"]

for syllabus in topics:
  print(syllabus)

Core Python
OOPS Python
Collections
GUI
Database - SQLite

In [ ]:
word="Sridhar"

for answer in word:
  print(answer)

S
r
i
d
h
a
r

In [ ]:
for i in range(1,11):
  print(i,"* 5 =", i*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
# while loop

# while (condition):
      #  statements


i=1
while(i<=5):
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1

while(i<=5):
  print("Welcome to Credo Systemz")
  i+=1

Welcome to Credo Systemz
Welcome to Credo Systemz
Welcome to Credo Systemz
Welcome to Credo Systemz
Welcome to Credo Systemz

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print(x, end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print(y, end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
for x in range(5, 0, -1):
  for y in range(5,0,-1):
    print(x, end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
for x in range(5, 0, -1):
  for y in range(5,0,-1):
    print(y, end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
k=1
for x in range(1, 6):
  for y in range(1,6):
    print(k, end=" ")
    k+=1
  print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
k=2
for x in range(1, 6):
  for y in range(1,6):
    print(k, end=" ")
    k+=2
  print()

2 4 6 8 10
12 14 16 18 20
22 24 26 28 30
32 34 36 38 40
42 44 46 48 50

In [ ]:
k=1
for x in range(1, 6):
  for y in range(1,6):
    print(k, end=" ")
    k+=2
  print()

1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [ ]:
for x in 'ABCDE':
  for y in 'ABCDE':
    print(x, end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
for x in range(65, 70):
  for y in range(1,6):
    print(chr(x), end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
for x in 'ABCDE':
  for y in 'ABCDE':
    print(y, end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
for x in range(1,6):
  for y in range(65,70):
    print(chr(y), end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
for x in range(1,6):
  for y in range(1,x+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for x in range(1,6):
  for y in range(1,x+1):
    print(x, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for x in range(1,6):
  for y in range(1,x+1):
    print(y, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for x in range(5,0,-1):
  for y in range(6, x,-1):
    print(x, end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
for x in range(5,0,-1):
  for y in range(5,x-1,-1):
    print(y, end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
# Task

# 5
# 4 5
# 3 4 5
# 2 3 4 5
# 1 2 3 4 5

# A
# A B
# A B C
# A B c D
# A B C D E

In [ ]:
for x in range(1,6):
  for y in range(6, x,-1):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for x in range(1,6):
  for y in range(5,x-1, -1):
    print(x, end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for x in range(6,1,-1):
  for y in range(1,x):
    print(y, end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
print("Welcome to Credo Systemz")

Welcome to Credo Systemz

In [ ]:
print('Welcome to Credo Systemz')

Welcome to Credo Systemz

In [ ]:
print('Welcome to "Credo Systemz"')

Welcome to "Credo Systemz"

In [ ]:
print("Welcome to 'Credo Systemz'")

Welcome to 'Credo Systemz'

In [ ]:
print("""
Welcome to Credo Systemz
Python Course
Present by Sridhar Raj P
""")

Welcome to Credo Systemz
Python Course
Present by Sridhar Raj P

In [ ]:
print('''
Welcome to Credo Systemz
Python + AI Course
Present by Sridhar Raj P
''')

Welcome to Credo Systemz
Python + AI Course
Present by Sridhar Raj P

In [ ]:
Name="Sridhar"
print(Name[0])
print(Name[1])
print(Name[2])
print(Name[3])
print(Name[4])
print(Name[5])
print(Name[6])

S
r
i
d
h
a
r

In [ ]:
for x in "Sridhar":
  print(x)

S
r
i
d
h
a
r

In [ ]:
Name="Sridhar"
print(len(Name))

7

In [ ]:
txt="Sridhar - Python Trainer"
print("Java" in txt)

False

In [ ]:
txt="Sridhar - Python Trainer"
print("Python" in txt)

True

In [ ]:
txt="Sridhar - Python Trainer"
if "Python" in txt:
  print("Yes, Present")
else:
  print("No, Not Present")

Yes, Present

In [ ]:
txt="Sridhar - Python Trainer"
if "Java" in txt:
  print("Yes, Present")
else:
  print("No, Not Present")

No, Not Present

In [ ]:
txt="Sridhar - Python Trainer"
print("Java" not in txt)

True

In [ ]:
txt="Sridhar - Python Trainer"
print("Python" not in txt)

False

In [ ]:
# Slicing

txt="Sridhar"
print(txt[1:3])

ri

In [ ]:
txt="Sridhar"
print(txt[1:])

ridhar

In [ ]:
txt="Sridhar"
print(txt[:3])

Sri

In [ ]:
answer="Sridhar"
print(answer.upper())

SRIDHAR

In [ ]:
answer="Sridhar"
print(answer.lower())

sridhar

In [ ]:
# Remove Whitespace

answer="      Sridhar Raj P        "
print(answer)
print(answer.strip())

      Sridhar Raj P
Sridhar Raj P

In [ ]:
answer="Call Cat"
print(answer.replace("C", "B"))

Ball Bat

In [ ]:
answer="Python Java"
print(answer.split(" "))

['Python', 'Java']

In [ ]:
answer="sridhar raj p"
print(answer.capitalize())

Sridhar raj p

In [ ]:
answer="Sridhar Raj P - Python Trainer"
print(answer.endswith("Trainer"))

True

In [ ]:
answer="Sridhar Raj P - Python Trainer"
print(answer.index("Raj"))

8

In [ ]:
userName="Sridhar123"
print(userName.isalnum())
userName="Sridhar"
print(userName.isalpha())
user="sridhar"
print(user.islower())
user="SRIDHAR"
print(user.isupper())

True
True
True
True

In [ ]:
answer="Sridhar Raj - Python Trainer"
print(answer.startswith("Sridhar"))

True

In [ ]:
for x in range(1,6):
  if(x==3):
    break
  print(x)

1
2

In [ ]:
topics=["Python", "Java", "AI", "NLP", "IP", "VP"]

for x in topics:
  if x == "AI":
    break
  print(x)

Python
Java

In [ ]:
for x in range(1,6):
  if(x==3):
    continue
  print(x)

1
2
4
5

In [ ]:
topics=["Python", "Java", "AI", "NLP", "IP", "VP"]

for x in topics:
  if x=="AI":
    continue
  print(x)

Python
Java
NLP
IP
VP

In [ ]:
for x in range(0,10):
  if x%2==0:
    print(x ,"- Even Number")
  else:
    print(x," - Odd Number")

0 - Even Number
1  - Odd Number
2 - Even Number
3  - Odd Number
4 - Even Number
5  - Odd Number
6 - Even Number
7  - Odd Number
8 - Even Number
9  - Odd Number

In [ ]:
# functions - A function is a block of code which only runs when it is called.

print("Welcome to Credo Systemz - Python Session")

Welcome to Credo Systemz - Python Session

In [ ]:
def display():
  print("Welcome to Credo Ssytemz - Python Session")
display()

Welcome to Credo Ssytemz - Python Session

In [ ]:
# without argument, without return type

def add():
  a=5
  b=5
  c=a+b
  print(c)
add()

10

In [ ]:
# with argument, without return type

def add(a,b,c,d,e):
  answer=a+b+c+d+e
  print(answer)

add(90,80,100,100,100)

470

In [ ]:
# without argument, with return type

def add():
  a=10
  b=90
  return a+b
print(add())

100

In [ ]:
# with argument, with return type

def add(a,b,c,d,e):
  return a+b+c+d+e

print(add(95,85,100,100,100))

480

In [ ]:
def display(name):
  print(name)
display("Sridhar")

Sridhar

In [ ]:
# Arbitrary Arguments (*args)

def display(*course):
  print(course[0])
  print(course[1])
  print(course[2])
display("Python", "AI" , "NLP")

Python
AI
NLP

In [ ]:
# Keyword Arguments  - Key=Value Syntax

def display(C1,C2,C3,C4,C5):
  print(C1)
  print(C2)
  print(C3)
  print(C4)
  print(C5)
display(C1="Python", C2="AI", C3="NLP", C4="PyGame", C5="Django")

Python
AI
NLP
PyGame
Django

In [ ]:
# Arbitrary Keyword Arguments **kwargs

def display(**topics):
  print(topics["C1"])
  print(topics["C2"])
display(C1="Python", C2="NLP")

Python
NLP

In [ ]:
# Default Paramerer Value

def display(user="Guest"):
  print("Welcome "+user)

display("Sridhar")
display("Sasi")
display("Priya")
display()

Welcome Sridhar
Welcome Sasi
Welcome Priya
Welcome Guest

In [ ]:
def displayFruits(food):
  for i in food:
    print(i)

fruits=["Apple", "Orange", "Banan", "Cherry"]
displayFruits(fruits)

Apple
Orange
Banan
Cherry

In [ ]:
# Lambda - A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but cna only have one expression

# lambda arguments:expression

answer=lambda a  :  a+90
print(answer(10))

100

In [ ]:
answer=lambda a,b,c,d,e : a+b+c+d+e
print(answer(90,90,90,90,90))

450

In [ ]:
answer=lambda a,b : a*b
print(answer(10,2))

20

In [ ]:
# List - Lists are used to store multiple items in a single variable

topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]
print(topics)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - Sqlite']

In [ ]:
# List Items - Ordered, Changeable, and allow dupllcate values

topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite", "Core Python"]
print(topics)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - Sqlite', 'Core Python']

In [ ]:
topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]
print(len(topics))
print(type(topics))

5
<class 'list'>

In [ ]:
topics=list(("Core Python", "OOPS Python", "Collections"))
print(len(topics))
print(type(topics))

3
<class 'list'>

In [ ]:
# Access Items

topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]

print(topics[0])
print(topics[1])
print(topics[2])
print(topics[3])
print(topics[4])

Core Python
OOPS Python
Collections
GUI
Database - Sqlite

In [ ]:
print(topics[-1])
print(topics[-2])
print(topics[-3])
print(topics[-4])
print(topics[-5])

Database - Sqlite
GUI
Collections
OOPS Python
Core Python

In [ ]:
topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]
print(topics[2:4])

['Collections', 'GUI']

In [ ]:
print(topics[2:])

['Collections', 'GUI', 'Database - Sqlite']

In [ ]:
print(topics[:4])

['Core Python', 'OOPS Python', 'Collections', 'GUI']

In [ ]:
topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]

# Change List Items
print(topics)
topics[1]="Object Oriented Programming - Python"
print(topics)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - Sqlite']
['Core Python', 'Object Oriented Programming - Python', 'Collections', 'GUI', 'Database - Sqlite']

In [ ]:
topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]
topics.append("Python - AI")
print(topics)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - Sqlite', 'Python - AI']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]
L2=["AI", "NLP", "OpenCV", "Django", "Flask", "PyGame"]

L1.extend(L2)
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL', 'AI', 'NLP', 'OpenCV', 'Django', 'Flask', 'PyGame']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]
T1=("AI", "NLP", "OpenCV", "Django", "Flask", "PyGame")

print(type(L1))
print(type(T1))

L1.extend(T1)
print(L1)

<class 'list'>
<class 'tuple'>
['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL', 'AI', 'NLP', 'OpenCV', 'Django', 'Flask', 'PyGame']

In [ ]:
topics=["Core Python", "OOPS Python", "Collections", "GUI", "Database - Sqlite"]
topics.insert(0, "AI Leaning Path")
print(topics)

['AI Leaning Path', 'Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - Sqlite']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

print(L1)
L1.remove("Core Python")
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['OOPS Python', 'Collections', 'GUI', 'Database - SQL']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

# pop() - removes the specified index

print(L1)
L1.pop(1)
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['Core Python', 'Collections', 'GUI', 'Database - SQL']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

print(L1)
L1.pop()
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['Core Python', 'OOPS Python', 'Collections', 'GUI']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

print(L1)
del L1[0]
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['OOPS Python', 'Collections', 'GUI', 'Database - SQL']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

print(L1)
L1.clear()
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
[]

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

del L1
print(L1)

NameError: name 'L1' is not defined

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

for i in L1:
  print(i)

Core Python
OOPS Python
Collections
GUI
Database - SQL

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

for i in range(len(L1)):
  print(i , " - " , L1[i])

0  -  Core Python
1  -  OOPS Python
2  -  Collections
3  -  GUI
4  -  Database - SQL

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

i=0

while i<len(L1):
  print(i, " - ", L1[i])
  i=i+1

0  -  Core Python
1  -  OOPS Python
2  -  Collections
3  -  GUI
4  -  Database - SQL

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

print(L1)
L1.sort()
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['Collections', 'Core Python', 'Database - SQL', 'GUI', 'OOPS Python']

In [ ]:
check=[10,30,20,100,60,40,50,200]
check.sort()
print(check)

[10, 20, 30, 40, 50, 60, 100, 200]

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

L1.sort(reverse=True)
print(L1)

['OOPS Python', 'GUI', 'Database - SQL', 'Core Python', 'Collections']

In [ ]:
check=[10,30,60,80,20,40,100,800,300,200,600]
check.sort(reverse=True)
print(check)

[800, 600, 300, 200, 100, 80, 60, 40, 30, 20, 10]

In [ ]:
answer=["banana", "Orange", "Kiwi", "cherry"]

answer.sort(key=str.lower)
print(answer)

['banana', 'cherry', 'Kiwi', 'Orange']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]
L1.reverse()
print(L1)

['Database - SQL', 'GUI', 'Collections', 'OOPS Python', 'Core Python']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

answer=L1.copy()

print(answer)
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

answer=list(L1)
print(answer)
print(L1)

['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']
['Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - SQL']

In [ ]:
L1=[1,2,3,4,5]
L2=[6,7,8,9,0]

answer=L1+L2
print(answer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
for i in L2:
  L1.append(i)

print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 6, 7, 8, 9, 0]

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL", "Core Python"]

answer=L1.count("Core Python")
print(answer)

2

In [ ]:
L1=["Core Python", "OOPS Python", "Collections", "GUI", "Database - SQL"]

answer=L1.index("Core Python")
print(answer)

0

In [ ]:
# List - append(), clear(), copy(), count(), extend(), index(), Insert(), pop(), remove(), reverse(), sort(), len(), type(), del

In [ ]:
# Tuples - Tuples are used to store multiple items in a single variable
# ordered and unchageable, Allow Duplicates

answer=("Core Python", "OOPS Python", "Collections", "Core Python")
print(answer)
print(type(answer))
print(len(answer))

('Core Python', 'OOPS Python', 'Collections', 'Core Python')
<class 'tuple'>
4

In [ ]:
answer=("Core Python")
print(type(answer))

<class 'str'>

In [ ]:
answer=("Core Python",)
print(type(answer))

<class 'tuple'>

In [ ]:
answer=tuple(("Core Python", "OOPS Python"))
print(answer)
print(type(answer))

('Core Python', 'OOPS Python')
<class 'tuple'>

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")
print(answer[0])
print(answer[1])
print(answer[2])
print(answer[-1])
print(answer[-2])
print(answer[-3])

Core Python
OOPS Python
Collections
Collections
OOPS Python
Core Python

In [ ]:
answer=("Core Python", "OOPS Python", "Collections", "GUI", "Database - ", "MySQL", "SQLite", "PosegreSQL")
print(answer[1:4])

('OOPS Python', 'Collections', 'GUI')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections", "GUI", "Database - ", "MySQL", "SQLite", "PosegreSQL")
print(answer[1:])

('OOPS Python', 'Collections', 'GUI', 'Database - ', 'MySQL', 'SQLite', 'PosegreSQL')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections", "GUI", "Database - ", "MySQL", "SQLite", "PosegreSQL")
print(answer[:4])

('Core Python', 'OOPS Python', 'Collections', 'GUI')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections", "GUI", "Database - ", "MySQL", "SQLite", "PosegreSQL")

if "Python" in answer:
  print("Yes")
else:
  print("No")

No

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")
check=list(answer)

print(check)
print(type(check))

check[1]="Python - OOPS"
answer=tuple(check)

print(answer)
print(type(answer))

['Core Python', 'OOPS Python', 'Collections']
<class 'list'>
('Core Python', 'Python - OOPS', 'Collections')
<class 'tuple'>

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

check=list(answer)

print(check)
print(type(check))

check.append("GUI")

answer=tuple(check)
print(answer)
print(type(answer))

['Core Python', 'OOPS Python', 'Collections']
<class 'list'>
('Core Python', 'OOPS Python', 'Collections', 'GUI')
<class 'tuple'>

In [ ]:
T1=("Core Python", "Database Python")
T2=("AI","NLP")

T1+=T2
# T1=T1+T2

print(T1)

('Core Python', 'Database Python', 'AI', 'NLP')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

check=list(answer)
check.remove("Core Python")

answer=tuple(check)

print(answer)

('OOPS Python', 'Collections')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")
print(answer)
del answer
print(answer)

('Core Python', 'OOPS Python', 'Collections')

NameError: name 'answer' is not defined

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

(L1, L2, L3)=answer

print(L1)
print(L2)
print(L3)

Core Python
OOPS Python
Collections

In [ ]:
answer=("Core Python", "OOPS Python", "Collections", "GUI", "Database - MySQL", "SQLite", "PosegreSQL", "AI", "Coputer Vision", "NLP")
(L1, L2, L3, *L4)=answer

print(L1)
print(L2)
print(L3)
print(L4)
print("-----------------------------------------------")
(L1, *L2, L3 )=answer
print(L1)
print(L2)
print(L3)

Core Python
OOPS Python
Collections
['GUI', 'Database - MySQL', 'SQLite', 'PosegreSQL', 'AI', 'Coputer Vision', 'NLP']
-----------------------------------------------
Core Python
['OOPS Python', 'Collections', 'GUI', 'Database - MySQL', 'SQLite', 'PosegreSQL', 'AI', 'Coputer Vision']
NLP

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

for i in answer:
  print(i)

Core Python
OOPS Python
Collections

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

for i in range(len(answer)):
  print(i, " - ", answer[i])

0  -  Core Python
1  -  OOPS Python
2  -  Collections

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

i=0
while(i<len(answer)):
  print(answer[i])
  i=i+1

Core Python
OOPS Python
Collections

In [ ]:
T1=("Core Python", "OOPS Python", "Collections")
T2=("GUI", "Database - MySQL, SQLite")

answer=T1+T2
print(answer)

('Core Python', 'OOPS Python', 'Collections', 'GUI', 'Database - MySQL, SQLite')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")
check=answer*5
print(check)

('Core Python', 'OOPS Python', 'Collections', 'Core Python', 'OOPS Python', 'Collections', 'Core Python', 'OOPS Python', 'Collections', 'Core Python', 'OOPS Python', 'Collections', 'Core Python', 'OOPS Python', 'Collections')

In [ ]:
answer=("Core Python", "OOPS Python", "Collections","Core Python")

check=answer.count("Core Python")
print(check)

2

In [ ]:
answer=("Core Python", "OOPS Python", "Collections")

check=answer.index("Core Python")
print(check)

0

In [ ]:
# Set - Set are used to store multiple items in a single variable
# Unordered, UnChangeable, Duplicates Not Allowed

answer={"Core Python", "OOPS Python", "Collections", "GUI", "Database", "Core Python", "GUI"}
print(answer)

{'Core Python', 'Collections', 'OOPS Python', 'Database', 'GUI'}

In [ ]:
check={"Python", 15000, True, "50%"}
print(check)
print(type(check))

{'Python', True, 15000, '50%'}
<class 'set'>

In [ ]:
check={"Python", "Java", "JavaScript"}
print(len(check))

3

In [ ]:
print(type(check))

<class 'set'>

In [ ]:
# set() Constructor

check=set(("Python", "Java", "JavaScript", "AI", "NLP"))
print(check)
print(type(check))
print(len(check))

{'JavaScript', 'NLP', 'Java', 'Python', 'AI'}
<class 'set'>
5

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}

for i in check:
  print(i)

Python
AI
Computer Vision
NLP

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}

print("AI" in check)

True

In [ ]:
print("OpenCV" not in check)

True

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}
print(check)
check.add("OpenCV")
print(check)

{'Python', 'AI', 'Computer Vision', 'NLP'}
{'OpenCV', 'NLP', 'Computer Vision', 'Python', 'AI'}

In [ ]:
set1={"Python", "AI", "NLP"}
set2={"ML", "DL", "NN", "DS", "DA", "DV"}

set1.update(set2)

print(set1)

{'NN', 'DV', 'ML', 'DS', 'NLP', 'DA', 'Python', 'DL', 'AI'}

In [ ]:
set1={"Python", "AI", "NLP"}
list1=["ML", "DL", "NN"]

set1.update(list1)

print(set1)

{'NN', 'ML', 'NLP', 'Python', 'DL', 'AI'}

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}

check.remove("Computer Vision")
print(check)

{'Python', 'AI', 'NLP'}

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}

check.discard("AI")
print(check)

{'Python', 'Computer Vision', 'NLP'}

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}

deletevalue=check.pop()

print(deletevalue)
print(check)

Python
{'AI', 'Computer Vision', 'NLP'}

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}
print(check)
check.clear()
print(check)

{'Python', 'AI', 'Computer Vision', 'NLP'}
set()

In [ ]:
check={"Python", "AI", "NLP", "Computer Vision"}

print(check)
del check
print(check)

{'Python', 'AI', 'Computer Vision', 'NLP'}

NameError: name 'check' is not defined

In [ ]:
set1={"Python", "AI", "NLP"}
set2={"DS","DA","DV"}

answer=set1.union(set2)
print(answer)

{'DA', 'DV', 'Python', 'AI', 'NLP', 'DS'}

In [ ]:
set1={"Python", "AI", "NLP"}
set2={"DS","DA","DV"}

answer=set1 | set2
print(answer)

{'DA', 'DV', 'Python', 'AI', 'NLP', 'DS'}

In [ ]:
set1={"Python", "AI", "NLP"}
set2={"DS","DA","DV"}
set3={"GUI", "PYQT", "Tkiner"}
set4={"Django", "Flask"}

answer=set1.union(set2,set3,set4)
print(answer)

answer1= set1 | set2 | set3 | set4
print(answer)

{'Flask', 'Django', 'DV', 'PYQT', 'DS', 'NLP', 'GUI', 'DA', 'Tkiner', 'Python', 'AI'}
{'Flask', 'Django', 'DV', 'PYQT', 'DS', 'NLP', 'GUI', 'DA', 'Tkiner', 'Python', 'AI'}

In [ ]:
set1={"Python", "AI", "NLP"}
tuple1=(1,2,3)

answer=set1.union(tuple1)
print(answer)

{1, 2, 3, 'NLP', 'Python', 'AI'}

In [ ]:
set1={"Python", "AI", "NLP"}
set2={"DS","DA","DV"}

set1.update(set2)
print(set1)

{'DA', 'DV', 'Python', 'AI', 'NLP', 'DS'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

answer=set1.intersection(set2)
print(answer)

{'apple'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

answer=set1 & set2
print(answer)

{'apple'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

answer=set1.difference(set2)
print(answer)

{'cherry', 'banana'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

answer=set1 - set2
print(answer)

{'cherry', 'banana'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

answer=set1.symmetric_difference(set2)
print(answer)

{'cherry', 'banana', 'microsoft', 'goole'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

answer=set1 ^ set2
print(answer)

{'cherry', 'banana', 'microsoft', 'goole'}

In [ ]:
set1={"apple", "banana","cherry"}
set2={"goole", "apple", "microsoft"}

set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'microsoft', 'goole'}

In [ ]:
set1={"Python", "AI", "NLP"}

answer=set1.copy()

print(set1)
print(answer)

{'Python', 'AI', 'NLP'}
{'Python', 'AI', 'NLP'}

In [ ]:
# Dictionaries  Dictionary - Dictionaries are used to store data values in key:value pairs

person={
    "name":"Sridhar",
    "age":27,
    "age":28,
    "dob":"09/12/1997"
}
print(person)
print(person["name"])
print(person["age"])
print(person["dob"])

{'name': 'Sridhar', 'age': 28, 'dob': '09/12/1997'}
Sridhar
28
09/12/1997

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

print(person)
print(person["skills"])

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
['Python', 'SQLite', 'MySQL', 'PostgreSQL']

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

print(person)
print(type(person))
print(len(person))

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
<class 'dict'>
4

In [ ]:
# dic() Construcotr

person=dict(name="Sridhar", age=27, bg="B-")
print(person)
print(type(person))
print(len(person))

{'name': 'Sridhar', 'age': 27, 'bg': 'B-'}
<class 'dict'>
3

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

answer=person["name"]
print(answer)

Sridhar

In [ ]:
answer=person.get("name")
print(answer)
answer1=person.get("skills")
print(answer1)

Sridhar
['Python', 'SQLite', 'MySQL', 'PostgreSQL']

In [ ]:
answer=person.keys()
print(answer)

dict_keys(['name', 'age', 'dob', 'skills'])

In [ ]:
person["email"]="sridhar@gmail.com"
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL'], 'email': 'sridhar@gmail.com'}

In [ ]:
answer=person.values()
print(answer)

dict_values(['Sridhar', 27, '09/12/1997', ['Python', 'SQLite', 'MySQL', 'PostgreSQL'], 'sridhar@gmail.com'])

In [ ]:
answer=person.items()
print(answer)

dict_items([('name', 'Sridhar'), ('age', 27), ('dob', '09/12/1997'), ('skills', ['Python', 'SQLite', 'MySQL', 'PostgreSQL']), ('email', 'sridhar@gmail.com')])

In [ ]:
if "role" in person:
  print("Yes")
else:
  print("No")

No

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

print(person)
person["age"]=28
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{'name': 'Sridhar', 'age': 28, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}
print(person)
person.update({"age":28})
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{'name': 'Sridhar', 'age': 28, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}
print(person)
person.update({"bg":"B-"})
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL'], 'bg': 'B-'}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

person.pop("dob")
print(person)

{'name': 'Sridhar', 'age': 27, 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

person.popitem()
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997'}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

print(person)
del person["age"]
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{'name': 'Sridhar', 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

print(person)
del person
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

NameError: name 'person' is not defined

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

person["email"]="sridhar@gmail.com"
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL'], 'email': 'sridhar@gmail.com'}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

print(person)
person.clear()
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

for i in person:
  print(i)
  print(person[i])

name
Sridhar
age
27
dob
09/12/1997
skills
['Python', 'SQLite', 'MySQL', 'PostgreSQL']

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

answer=person.copy()
print(answer)
print(person)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

In [ ]:
person={
    "name":"Sridhar",
    "age":27,
    "dob":"09/12/1997",
    "skills":["Python", "SQLite", "MySQL", "PostgreSQL"]
}

answer=dict(person)
print(person)
print(answer)

{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}
{'name': 'Sridhar', 'age': 27, 'dob': '09/12/1997', 'skills': ['Python', 'SQLite', 'MySQL', 'PostgreSQL']}

In [ ]:
for i in person.values():
  print(i)

Sridhar
27
09/12/1997
['Python', 'SQLite', 'MySQL', 'PostgreSQL']

In [ ]:
for i in person.keys():
  print(i)

name
age
dob
skills

In [ ]:
for i,j in person.items():
  print(i, j)

name Sridhar
age 27
dob 09/12/1997
skills ['Python', 'SQLite', 'MySQL', 'PostgreSQL']

In [ ]:
for i in person:
  print(person[i])

Sridhar
27
09/12/1997
['Python', 'SQLite', 'MySQL', 'PostgreSQL']

In [ ]:
# Nested Dictionaries

person={
    "persondetails":{
        "name":"Sridhar Raj P",
        "age":27,
        "dob":"09/12/1997"
    },
    "companydetails":{
        "companyname":"Credo Systemz",
        "role":"Technical Head"
    },
    "salarydetails":{
        "salary":40000,
        "money":"INR"
    }
}

print(person)

{'persondetails': {'name': 'Sridhar Raj P', 'age': 27, 'dob': '09/12/1997'}, 'companydetails': {'companyname': 'Credo Systemz', 'role': 'Technical Head'}, 'salarydetails': {'salary': 40000, 'money': 'INR'}}

In [ ]:
persondetails={
    "name":"Sridhar Raj P",
    "age":27,
    "dob":"09/12/1997"
    }

companydetails={
    "companyname":"Credo Systemz",
    "role":"Technical Head"
  }

salarydetails={
    "salary":40000,
    "money":"INR"
    }

answer={
    "persondetails":persondetails,
    "companydetails":companydetails,
    "salarydetails":salarydetails,
}

print(answer)

{'persondetails': {'name': 'Sridhar Raj P', 'age': 27, 'dob': '09/12/1997'}, 'companydetails': {'companyname': 'Credo Systemz', 'role': 'Technical Head'}, 'salarydetails': {'salary': 40000, 'money': 'INR'}}

In [ ]:
# Nested Dictionaries

person={
    "persondetails":{
        "name":"Sridhar Raj P",
        "age":27,
        "dob":"09/12/1997"
    },
    "companydetails":{
        "companyname":"Credo Systemz",
        "role":"Technical Head"
    },
    "salarydetails":{
        "salary":40000,
        "money":"INR"
    }
}

print(person)

print(person["persondetails"]["name"])
print(person["persondetails"]["age"])

print(person["companydetails"]["companyname"])

{'persondetails': {'name': 'Sridhar Raj P', 'age': 27, 'dob': '09/12/1997'}, 'companydetails': {'companyname': 'Credo Systemz', 'role': 'Technical Head'}, 'salarydetails': {'salary': 40000, 'money': 'INR'}}
Sridhar Raj P
27
Credo Systemz

In [ ]:
# Match Statement

# match expression:
#   case a:
#     code block
#   case b:
#     code block
#   case c:
#     code block


day=int(input("Enter the Day "))
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print("Please 1 to 7 Values Valid")

Enter the Day 10
Please 1 to 7 Values Valid

In [ ]:
# Math

answer=min(5,10,15,20,25)
print(answer)

5

In [ ]:
answer=max(5,10,15,20,25)
print(answer)

25

In [ ]:
print(10-90)
print((abs(10-90)))

-80
80

In [ ]:
print(5**5)
print(pow(5,4))

3125
625

In [ ]:
import math
answer=math.sqrt(16)
print(answer)

4.0

In [ ]:
import math

answer=math.floor(1.8)
print(answer)

1

In [ ]:
import math

answer=math.ceil(1.1)
print(answer)

2

In [ ]:
import math

answer=math.pi
print(answer)

3.141592653589793

In [ ]:
import math
print(math.factorial(5))

120

In [ ]:
import math

print(math.gcd(3,6))

3

In [ ]:
# Math Methods, Constants

import math
print(math.e) # eulers number

print(math.tau)

2.718281828459045
6.283185307179586

In [ ]:
import math

print(math.remainder(10,2))

0.0

In [ ]:
import math

print(math.acos(0))
print(math.sin(1))
print(math.log(10))
print(math.cos(1))
print(math.tan(1))

1.5707963267948966
0.8414709848078965
2.302585092994046
0.5403023058681398
1.5574077246549023

In [ ]:
# Date and Time

import datetime

answer=datetime.datetime.now()
print(answer)

2025-07-27 03:21:07.487148

In [ ]:
import datetime

answer=datetime.datetime.now()
print(answer.year)
print(answer.month)
print(answer.day)
print(answer.hour)
print(answer.minute)
print(answer.second)

2025
7
27
3
22
17

In [ ]:
import datetime

answer=datetime.datetime.now()

print(answer.strftime("%H"))   # 0 to 23
print(answer.strftime("%I"))   # 0 to 12
print(answer.strftime("%p"))   # AM / PM

# %M, %S, %f, %z, %Z, %j , %U, %W, %c, %C, %x, %X, %%, %G, %u, %v

print(answer.strftime("%j"))
print(answer.strftime("%c"))

print(answer.strftime("%y"))
print(answer.strftime("%Y"))

print(answer.strftime("%A"))
print(answer.strftime("%a"))
print(answer.strftime("%B"))
print(answer.strftime("%w"))  # 0 Sun, 6 - Sat
print(answer.strftime("%d"))
print(answer.strftime("%b"))
print(answer.strftime("%m"))

03
03
AM
208
Sun Jul 27 03:30:55 2025
25
2025
Sunday
Sun
July
0
27
Jul
07

In [ ]:
import datetime
answer=datetime.datetime(2060,5,20)

print(answer)

2060-05-20 00:00:00